In [18]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from time import time
import matplotlib.pyplot as plt
from sklearn import tree
import json

In [2]:
with open("train.json") as f:
    datastore = json.loads(f.read())
print(type(datastore[0]))
print(datastore[0])
print(datastore[0]['ingredients'])
print(len(datastore[0]['ingredients']))
max = 0
pos = 0
for x in range(len(datastore)):
    if(len(datastore[x]['ingredients']) > max):
        max = len(datastore[x]['ingredients'])
        pos = x
print(max)
print(datastore[pos]['id'])

<class 'dict'>
{'id': 10259, 'cuisine': 'greek', 'ingredients': ['romaine lettuce', 'black olives', 'grape tomatoes', 'garlic', 'pepper', 'purple onion', 'seasoning', 'garbanzo beans', 'feta cheese crumbles']}
['romaine lettuce', 'black olives', 'grape tomatoes', 'garlic', 'pepper', 'purple onion', 'seasoning', 'garbanzo beans', 'feta cheese crumbles']
9
65
3885

In [3]:
print(type((datastore[0]['ingredients'])))
print(len(datastore))
list1 = []
list2 = []
for y in range(len(datastore)):
    for x in datastore[y]['ingredients']:
        list1.append(x)
    list2.append(datastore[y]['cuisine'])
    #list1.append(datastore[y]['ingredients'])

<class 'list'>
39774

In [4]:
print(len(list1))
print(list1[0])
array = np.asarray(list1)
print(len(list2))
print(list2[0])
array1 = np.asarray(list2)

428275
romaine lettuce
39774
greek

In [5]:
unique = np.unique(array)
unique1 = np.unique(array1)
print(unique1)
print(len(unique))
y = 0
dict1 = {}
dict2 = {}
print("huh")
print(unique[3])
#might need to normal do some stemming and lower case
print(unique1[0])
for x in range(len(unique)):
    dict1[unique[x]] = y
    y+=1
print(y)
y = 0
for x in range(len(unique1)):
    dict2[unique1[x]] = y
    y+=1
print(y)

['brazilian' 'british' 'cajun_creole' 'chinese' 'filipino' 'french'
 'greek' 'indian' 'irish' 'italian' 'jamaican' 'japanese' 'korean'
 'mexican' 'moroccan' 'russian' 'southern_us' 'spanish' 'thai'
 'vietnamese']
6714
huh
(10 oz.) frozen chopped spinach, thawed and squeezed dry
brazilian
6714
20

In [6]:
print(len(dict1))
print(dict1['diced tomatoes'])
print(dict2['thai'])
print(dict2)
print(dict1['feta cheese crumbles'])

6714
2233
18
{'brazilian': 0, 'british': 1, 'cajun_creole': 2, 'chinese': 3, 'filipino': 4, 'french': 5, 'greek': 6, 'indian': 7, 'irish': 8, 'italian': 9, 'jamaican': 10, 'japanese': 11, 'korean': 12, 'mexican': 13, 'moroccan': 14, 'russian': 15, 'southern_us': 16, 'spanish': 17, 'thai': 18, 'vietnamese': 19}
2548

In [7]:
columns1 = ["id", "cuisine"]
df = pd.DataFrame(columns = columns1)
for x in range(65):
    df[x] = -1
for y in range(len(datastore)):
    col = 0
    #if(y == 5000):
    #    break
    if(y%5000 == 0):
       print(y)
    columns1 = ["id", "cuisine"]
    df1 = pd.DataFrame([[datastore[y]['id'],dict2[datastore[y]["cuisine"]]]],columns = columns1)
    for x in datastore[y]['ingredients']:
        df1[col] = dict1[x]
        col+=1
    #print(df)
    while(col < 65):
        df1[col] = 6714 
        col+=1
    #print(df1)
    df = df.append(df1)

0
5000
10000
15000
20000
25000
30000
35000

In [8]:
df.head()
#40 cols
#last check 10000

,id,cuisine,0,1,2,3,4,5,6,7,...,55,56,57,58,59,60,61,62,63,64
0,10259,6,5222,956,3033,2884,4569,4911,5405,2878,...,6714,6714,6714,6714,6714,6714,6714,6714,6714,6714
0,25693,16,4709,3166,5309,6146,3135,6090,2436,3117,...,6714,6714,6714,6714,6714,6714,6714,6714,6714,6714
0,20130,4,2436,4569,5309,4031,1940,3090,3124,2902,...,6714,6714,6714,6714,6714,6714,6714,6714,6714,6714
0,22213,7,6435,6375,6450,5309,6714,6714,6714,6714,...,6714,6714,6714,6714,6714,6714,6714,6714,6714,6714
0,13162,7,958,5451,1978,1415,4361,2899,4108,1220,...,6714,6714,6714,6714,6714,6714,6714,6714,6714,6714

In [9]:
file = "values.csv"
df.to_csv(file, index=False)

In [10]:
df2 = df.copy()

In [11]:
df2 = df2.sort_values(['cuisine'])
labels_train = pd.Series(df2['cuisine'].values,\
                         index=df2['id'])
labels_train = labels_train.rename("cuisine")
labels_train= labels_train.\
apply(pd.to_numeric, errors='coerce')
df2 = df2.set_index('id')
df2 = df2.drop(['cuisine'],axis=1)

In [12]:
features_train, features_test, labels_train, labels_test = \
 train_test_split(df2, labels_train,\
 test_size=0.2, random_state=42)

In [13]:
nb_classifier = MultinomialNB()

In [14]:
t0 = time()
nb_classifier.fit(features_train, labels_train)
print("Training Time: ", time()-t0, "s.", sep='')

Training Time: 0.05500602722167969s.

In [15]:
t1 = time()
nb_pred = nb_classifier.predict(features_test)
print("Testing Time: ", time()-t1, "s.", sep='')

Testing Time: 0.004797458648681641s.

In [16]:
print("Accuracy: ", accuracy_score(labels_test, nb_pred), ".", sep='')

Accuracy: 0.06184789440603394.

In [21]:
dt_classifier  = tree.DecisionTreeClassifier(min_samples_split=40)

In [22]:
t0 = time()
dt_classifier.fit(features_train, labels_train)
print("Training Time: ", round(time() - t0), "s")

Training Time:  0 s

In [23]:
t1 = time()
dt_prediction = dt_classifier.predict(features_test)
print("Prediction Time: ", round(time() - t1), "s")

Prediction Time:  0 s

In [24]:
print(accuracy_score(labels_test, dt_prediction))

0.2595851665619108